@import url('https://fonts.googleapis.com/css2?family=Fredoka');
@import url('https://fonts.googleapis.com/css2?family=Fredoka One');

body {
  background-color: lightblue; /* Or use a HEX code like #f0f0f0 */
  font-family: 'Fredoka', sans-serif;
}
