@import url('https://fonts.googleapis.com/css2?family=Fredoka');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One');

body {
  font-family: 'Fredoka', sans-serif;
  color: #FFF
}

h1 {
  font-family: 'Fredoka One', Arial, sans-serif;
}

body {
  /* First layer: a semi-transparent linear gradient overlay */
  background-image: linear-gradient(to right, rgba(66, 139, 255, 0.5), rgba(0, 0, 255, 0.5)),
                    /* Second layer: the checkerboard pattern itself */
                    repeating-conic-gradient(#fff 0% 25%, #ccc 0% 50%);
  background-size: cover, 40px 40px; /* Cover the whole area with the first gradient, tile the second */
}

.dropdown-content {
  display: none; /* Hide the dropdown content by default */
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block; /* Show the dropdown content on hover */
}
/* Add more styling for list items, links, colors, etc. */
